<div id="about" class="modal">
    <h1 class="_l">About</h1>
    <p><b>Grouch</b> is an open source Feed Reader
    (Google Reader clone), with source code available on
    <a href="https://github.com/0xe1f/grouch">GitHub</a>.</p>
    <p>It's written in <a href="https://www.python.org/">Python</a> and JavaScript
    with a CouchDB backend, and is my fourth attempt at a GR substitute.</p>
    <p>Grouch is written by <a href="http://www.akop.org/">Akop Karapetyan</a>.</p>
    <p class="version">{{ app_version }}</p>
    <div class="buttons">
        <button class="modal-cancel _l">Close</button>
    </div>
</div>
