<div id="import-subscriptions" class="modal">
    <h1 class="_l">Upload OPML file</h1>
    <form enctype="multipart/form-data" method="post">
        <div>
            <input name="file" type="file" id="upload-feed" />
            <label class="upload-proxy" for="upload-feed">
                <span class="faux-button _l">Browse...</span>
                <span class="upload-path _l">No file selected</span>
            </label>
        </div>
    </form>
    <div class="buttons">
        <button class="modal-cancel _l">Cancel</button>
        <button class="modal-ok _l">Upload</button>
    </div>
</div>
