# Database

DATABASE_NAME = "reader"
DATABASE_USERNAME = "admin"
DATABASE_PASSWORD = "password"
DATABASE_HOST = "localhost"
DATABASE_PORT = "5984"
# Set to true if CouchDB is served over HTTPS (recommended in production)
# DATABASE_USE_TLS = false

# Security

# Set SECRET_KEY to a random string
# See: https://flask.palletsprojects.com/en/stable/config/#SECRET_KEY
# SECRET_KEY = "<CHANGE THIS VALUE!>"

# Session lifetime in seconds; 31 by default
PERMANENT_SESSION_LIFETIME = 2678400

# Dependencies

EXECUTOR_PROPAGATE_EXCEPTIONS = true

# Options

BLOCK_NEW_ACCOUNTS = true

# Feed refresh interval in minutes; must match the cron schedule in Docker/app/etc/cron.tab.template
REFRESH_INTERVAL_MINUTES = 20
