<!DOCTYPE html>
<html lang="en-US">
	<head profile="http://www.w3.org/2005/10/profile">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="{{ url_for("static", filename="style/login.css") }}" type="text/css" rel="stylesheet"/>
		<title>Log in</title>
	</head>
	<body>
		<div class="fields">
            <form action="#" method="post">
                <input type="text" name="username" placeholder="username" />
                <input type="password" name="password" placeholder="password" />
                <input type="submit" value="Sign in" />
            </form>
        </div>
	</body>
</html>
